<section class="section-showbook">
    <div class="u-center-text">
        <h2 class="heading-secondary u-text-to-upper">
             registered iphones :
        </h2>
    </div>
    <div class="grid-on">
        <div class="row">
            <div class="col-1-of-5 u-margin-t-small" *ngFor="let data of booking">
                <div class="item-box">
                    <h3 class="heading-tertiary">{{data.fullName}}</h3>
                    <p class="heading-tertiary--p">{{data.email}}</p>
                    <p class="heading-tertiary--p">{{data.iphoneModel}}</p>
                    <p class="heading-tertiary--p">{{data.phoneNumber}}</p>
                    <!-- <p class="heading-tertiary--p">{{data.created}}</p> -->
                    <button class="btn btn--red" (click)="onDelete(data._id)">delete</button>
                    <!-- <button class="btn btn--info" (click)="onFindById(data._id)">select</button> -->
                </div>
            </div>
        </div>
    </div>
</section>