<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <title>Milad</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta name="apple-mobile-web-app-title" content="onlyWebPro" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta http-equiv="refresh" content="15"/>


</head>

<body>

<form action="/newbooking" method="post">
    <table class="table-new">
        <tr>
            <td>شماره آگهی</td>
            <td>
                <input type="text" name="fullname" placeholder=" fullname"></input>
            </td>
        </tr>
        <tr>
            <td>زمینه فعالیت</td>
            <td>
                <input type="text" name="email" placeholder="email"></input>
            </td>
        </tr>
        <tr>
            <td>عنوان کاری</td>
            <td>
                <input type="text" name="iphoneModel" placeholder=" iphoneModel"></input>
            </td>
        </tr>
        <tr>
            <td>عنوان کاری</td>
            <td>
                <input type="text" name="phoneNumber" placeholder=" phoneNumber"></input>
            </td>
        </tr>

    </table>
    <div class="btn-container">
            <button>submit</button>
    </div>
</form>
</body>
</html>