<section class="section-categories">

        <div class="u-center-text">
                <h2 class="heading-secondary u-text-to-upper">
                    first Select your iphone model here:
                </h2>
            </div>
    <div class="grid-on">
        <div class="row" *ngFor="let row of rowNumber; let i=index">
            <a  class="col-1-of-5 u-margin-t-small" *ngFor="let category of getCurrentCategories(i); let j=index" (click)="onSelectIphone(j)">
                <div class="item-box">
                    <img src={{category.imagePath}} alt="" class="item-box__img">
                    <h3 class="heading-quaternary">{{category.name}}</h3>
                    <p>{{category.description}}</p>
                </div>
            </a>
        </div>
    </div>
</section>