<section class="section-categories">

  <div class="grid-on">
      <div class="row">
          <div class="col-1-of-2">
              <h3 class="heading-tertiary u-margin-b-small">How to use css grid classes in a simple calender? </h3>
              <p class="paragragh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, exercitationem sequi fuga natus,
                  iusto doloremque maiores error ratione ipsa molestias sapiente expedita blanditiis similique
                  incidunt minus alias soluta mollitia tempore!</p>
          </div>
          <div class="col-1-of-2">
          </div>
      </div>
  </div>
  <div class="grid-on">
      <div class="row">
          <div class="col-1-of-5" *ngFor="let category of categories" >
              <div class="item-box">
                  <img src={{category.imagePath}} alt="" class="item-box__img">
                  <h3 class="heading-quaternary">{{category.name}}</h3>
                  <p>{{category.description}}</p>
              </div>
          </div>
      </div>
  </div>
</section>