<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="/assets/img/iphone5c-cracked-screen.png" alt="" class="popup__img">
      <img src="/assets/img/iphone5c-cracked-screen.png" alt="" class="popup__img">
    </div>
    <div class="popup__right">
      <h2 class="heading-secondary">sign up for free</h2>
      <h3 class="heading-tertiary"> Iphone screen replacement!</h3>
      <p class="popup__text">
        Explicabo dicta id quidem provident, harum commodi recusandae odio numquam doloremque sed cum tenetur consequatur ad praesentium
        facilis doloribus vel inventore culpa. Explicabo dicta id quidem provident, harum commodi recusandae odio numquam
        doloremque sed cum tenetur consequatur ad praesentium facilis doloribus vel inventore culpa. Explicabo dicta id quidem
        provident..
      </p>
      <a href="" class="btn btn__green">sign up</a>
    </div>
  </div>
</div>