<section class="section-book">
  <div class="u-center-text">
    <h2 class="heading-secondary u-text-to-upper">
      your iphone registered here as below:
    </h2>
  </div>
  <div class="grid-on">
    <div class="row">
      <div class="book">
        <div class="book__form">

              <h1 class="heading-tertiary">{{booking.fullName}}</h1>
              <h1 class="heading-tertiary">{{booking.email}}</h1>

              <h1 class="heading-tertiary">{{booking.iphoneModel}}</h1>

              <h1 class="heading-tertiary">{{booking.phoneNumber}}</h1>

        </div>

      </div>
    </div>
  </div>
</section>